@using Microsoft.AspNet.Identity
@model IEnumerable<ChinUpBoutique.Models.StylistListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.StylistUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StylistFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StylistLastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.StylistUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StylistFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StylistLastName)
        </td>
        <td>
            @if (item.StylistID == User.Identity.GetUserId())
            {
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) <span>|</span>
            }
            @Html.ActionLink("Details", "Details",new { id=item.StylistID }, new { /* id=item.PrimaryKey */ }) |
        </td>
    </tr>
}

</table>
