@model ChinUpBoutique.Models.InventoryDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inventory Detail</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @if(Model.Photo != null) {
            <img class="individualimg" src="data:image/jpg;base64,@Convert.ToBase64String(Model.Photo)" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkuNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkuNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfItem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfItem)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("StylistUser") || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) <span>|</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>

<style>

 .individualimg {
    border-color: black;
    border: 1px solid black;
 }

 h2 {
      
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
 }

 h4 {
     text-align: center;
     font-size: x-large;
     
 }
</style>